<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShoMaCoPlay.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>37190A40D16DCDCB9D6EC92341D7CE5BB635DA0C</string>
				<key>dateExpires</key>
				<string>2026.02.05</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2X8K4734HW.com.shomaco.ShoMaCoPlay</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2X8K4734HW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ShoMaCoPlay.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6dc04559-b7fd-4af0-8d0b-0421a79a8e5c</string>
				<key>dateExpires</key>
				<string>2026.02.05</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.shomaco.ShoMaCoPlay</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2X8K4734HW</string>
				<key>name</key>
				<string>Edge Runners Club Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
